.MainappContainer{
  display: flex;
  /* border: 3px solid; */
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.Images{
  width: 45%;
  /* border: 3px solid */
}
.ImageSlider{
  /* border: 3px solid; */
  display: flex;
  overflow: hidden;
}
.previous{
  display: none;
}

.next{
  display: none;
}

.MainImage{
  width: 90%;
  height: 50%;
  border-radius: 30px;
  margin-right: 10%;
  display: none;
}
.selected{
  display: block;
}
.SmallImages{
  /* border: 3px solid; */
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  width: 90%;
}
.SmallImage{
  width: 20%;
  height: 20%;
  border-radius: 5px;
  cursor: pointer;
}
.SelectedImage{
  border: 2px solid rgb(255, 125, 26);
  opacity: 0.5;
}
.SmallImage:hover{
  opacity: 0.5;
}
.MainContent{
  width: 45%;
  /* border: 3px solid; */
}
.Content{
  /* border: 3px solid; */
  width: 90%
}
.Content h5{
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2%;
}
.ItemName{
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 7%;
}
.ItemContent{
  color: grey;
  margin-bottom: 3%;
  font-size: 1.1rem;
}
.NewPrice{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}
.NewPrice h1{
  font-size: 1.7rem;
}
.NewPrice p{
  background-color: black;
  color: white;
  padding: 2px 7px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 600;
}
.OldPrice{
  text-decoration: line-through;
  font-weight: 800;
  color: grey;
  margin-top: 3%;
}
.Buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin-top: 5%;
  /* border: 3px solid; */
}
.Counter{
  display: flex;
  /* border: 3px solid; */
  align-items: center;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 7px 10px;
  background-color: rgb(247, 248, 253);
}
.decrease{
  /* border: 3px solid; */
  width: 30% ;
  text-align: center;
  cursor: pointer
}
.decrease img{
  align-self: center;
  position: relative;
  bottom: 4px;
}
.increase{
  /* border: 3px solid; */
  width: 30% ;
  text-align: center;
  cursor: pointer;
}
.decrease:hover, .increase:hover{
  opacity: 0.5;
}
.AddToCart{
  width: 67%;
  /* border: 3px solid; */
}
.Cart{
  margin-right: 10px;
  align-self: center;
  position: relative;
  top: 3px
}
.AddToCart button{
  background-color: rgb(255, 125, 26);
  width: 100%;
  padding: 10px ;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: 700;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer ;
}
.AddToCart button:hover{
  background-color: rgba(255, 125, 26, 0.4);
}

@media screen and (max-width: 1200px) {
  .MainappContainer{
    flex-direction: column;
  }
  .Images{
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .previous{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    border-radius: 50%;
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.8;
  }
  .prevarrow{
    position: relative;
    top: 30%;
    left: 25%;
    width: 20px;
    height: 20px;
  }
  .previous:hover{
    background-color: grey;
  }
  .next{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    right: 0;
    border-radius: 50%;
    background-color: white;
    margin-right: 20px;
    cursor: pointer;
    opacity: 0.8;
  }
  .nextarrow{
    position: relative;
    top: 30%;
    left: 30%;
    width: 20px;
    height: 20px;
  }
  .next:hover{
    background-color: grey;
  }
  .MainImage{
    width: 100%;
    border-radius: 0;
  }
  .SmallImages{
    display: none
  }
  .MainContent{
    width: 100%;
    padding: 1rem 1rem
  }
  .Content{
    /* border: 3px solid; */
    width: 100%;
  }
  .Content h5{
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .ItemName{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .ItemContent{
    font-size: 1rem;
    font-weight: 300;
    /* border: 3px solid; */
    margin-bottom: 1rem;
  }
  .NewPrice{
    width: 55%
  }
  .NewPrice p{
    font-size: 1rem;
  }
  .OldPrice{
    position: relative;
    left: 70%;
    bottom: 50px;
    font-size: 1.3rem;
    /* border: 3px solid; */
    width: 100px;
  }
  .Buttons{
    flex-direction: column;
    width: 100%;
    margin-top: -5%;
  }
  .Counter{
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px 10px;
  }
  .AddToCart{
    width: 100%
  }
}

@media screen and (min-width: 600px) {
  .MainImage{
    height: 30rem;
    width: 80%;
    margin: auto;
  }
  .previous{
    top: 350px;
    left: 13%
  }
  .next{
    right: 13%;
    top: 350px
  }
}